---
import {siteSettings} from "../utils/store.ts";
import type { ServiceRow, OfficeRow } from '../utils/sanity.ts'
import Button from "./Button.astro";
---
<section class="informations">
  <div class="informations-grid">
    <div class="text-column">
      <div class="text-box">
        <h2 class="heading h1">Msze Święte</h2>
        <p>{siteSettings.messes}</p>
        <Button priority="tertiary" title="Zobacz intencje mszalne" url={siteSettings.massIntentionsUrl} arrow targetBlank />
      </div>
      <div class="text-box">
        <h3 class="heading h3">Spowiedź święta</h3>
        <p>{siteSettings.confession}</p>
      </div>
      <div class="text-box">
        <h3 class="heading h3">Nabożeństwa</h3>
        {siteSettings.services.map((row: ServiceRow) => (
          <p>
            <span class="font-semibold">{row.name}</span>
            {!!row.when && <><br>{row.when}</>}
          </p>
        ))}
      </div>
      <div class="text-box">
        <h3 class="heading h3">Biuro Parafialne</h3>
        <div class="flex gap-10 leading-normal">
          <div class="flex flex-col gap-4">
            {siteSettings.office.map((row: OfficeRow) => (
              <p class="font-semibold">{row.day}</p>
            ))}
          </div>
          <div class="flex flex-col gap-4">
            {siteSettings.office.map((row: OfficeRow) => (
              <p>
                {row.hours}
                {!!row.note && <><br />{row.note}</>}
              </p>
            ))}
          </div>
        </div>
      </div>
    </div>
    <div class="patron">
      <div class="patron-sticky">
        <div class="patron-images">
          <img loading="lazy" src="/michael-original.jpg" alt="Wizerunek patrona parafii – św. Michał Archanioł" class="patron-front">
          <img loading="lazy" src="/michael-original.jpg" alt="Wizerunek patrona parafii – św. Michał Archanioł – romzyte tło" class="patron-bg">
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .informations {
    @apply relative flex justify-center -mt-[25vh] pt-40 pb-20 max-h-max md:text-xl bg-no-repeat bg-cover;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 1394" fill="none" class="informations-bg"><path d="M-44 0.5L1489 150V1394H-44L-44 0.5Z" fill="url(%23paint0_radial_107_245)"/><defs><radialGradient id="paint0_radial_107_245" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1189.5 455.5) rotate(140.081) scale(2171.57 1839.13)"><stop stop-color="%232B2B35"/><stop offset="1" stop-color="%230E0E12"/></radialGradient></defs></svg>');
  }
  
  .informations-grid {
    @apply container relative
    flex flex-col-reverse mx-auto gap-10 lg:gap-20
    lg:grid lg:grid-cols-12 lg:items-stretch;
  }
  
  .text-column {
    @apply relative 
    flex flex-col
    lg:grid lg:col-start-2 lg:col-span-5
    justify-start items-start gap-16 lg:gap-20
    text-white z-10;
  }
  .text-box {
    @apply flex flex-col gap-y-5 px-5 whitespace-pre-wrap;
  }

  /* TODO: sticky image */
  .patron {
    @apply relative h-full grid col-start-7 col-span-5 z-10;
  }
  .patron-sticky {
    @apply sticky top-10 -mt-48 lg:-mt-40 mb-5 lg:mb-0 aspect-[485/713];
  }
  .patron-images {
    @apply relative aspect-[485/713];
  }
  .patron img.patron-front {
    @apply absolute inset-0 m-auto border-2 border-black z-10;
  }
  .patron img.patron-bg {
    @apply absolute inset-0 m-auto blur-3xl z-0;
  }
</style>